.main_content .container-fluid{padding:0}.main_content .container-fluid .slide_banner img{width:100%}.main_content .sach_noi_bat .ds_sach{display:flex;flex-wrap:wrap}.main_content .sach_noi_bat .ds_sach .item_sach{margin:20px auto}
