.main_content {
    .container-fluid {
        padding: 0;

        .slide_banner {
            img {
                width: 100%;
            }
        }

    }


    .sach_noi_bat {
        .ds_sach {
            display: flex;
            flex-wrap: wrap;

            .item_sach {
                margin: 20px auto;
            }
        }
    }
}


